.formsBlock {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  background: #e8e8e8;
  padding: 10pt;
  border-radius: 20px;
  margin-bottom: 20pt;
  flex-direction: column;
  max-width: 17vh;
}

@media only screen and (max-width: 680px) {
  .formsBlock {
    max-width: 100%;
  }
}